@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
/*  font-family: 'Noto Sans TC',sans-serif;*/
}

h3{
  font-size: 2em;
}
p{

  font-size: 15px; 
  font-weight:bold;
}
body{
  background:linear-gradient(#fae5ab,#e28c03);
/*  opacity: .95;*/
}

/*banner*/
#banner{
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 500px;
}

#banner .vid{
  position:relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner .banner-ground{
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:#000;
  opacity: .5;

}




/* nav */
#nav{
  position: relative;
  width: 100%;
  z-index:1;
}
#nav a{
  display:block;
  color: inherit;
  font-size: 2.5em;
  text-decoration: none;
  padding: 10px;
}
#nav ul{
  background-color: lightgray;
  list-style: none;
  display:flex;
  padding:0 0 0 10px;   
  margin:0;
  box-shadow: 0 0 10px 5px #474747;
  /* box-shadow: 水平位移 垂直位移 模糊半徑 擴散距離 顏色 inset; */
}
#nav li{


}
#nav li:hover{
  color:white;
  background-color:gray;
} 


/*main*/
#main{
  display: flex;
  margin: 10px;
}
/*left*/
#left{
  position: sticky;
  top: 80px;
  background:#bababa;
  width: 450px;
  height: 800px;
  margin: 10px 0 0 50px;
  box-shadow: 5px 5px 15px #474747;
  border-radius: 10px;
}



/*box*/

#all_box{
  background:#cecece;
  box-shadow: 0 0 5px 1px #cecece;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px 130px 20px 30px;
  padding: 25px 50px 0 50px; 
}

#all_box a{
  text-decoration: none;
  color: inherit;
}
.box{    
  border-radius: 4%;
  background:linear-gradient(-30deg,#444444,#c4c4c4);
  text-align: center;
  margin: 35px 20px;
  width: 280px;
  height: 450px;
  box-shadow: 5px 5px 10px 0 #474747;
}


.test:hover{
  background:linear-gradient(-30deg,#383838,#494949);
  
}



.box img{
  width: 100%;
  border-radius: 4% 4% 0 0;
}

.box h3{
  text-align: center;
  font-weight: 900;
}
.box p{

  line-height: 1.4;
  word-break: break-all;
  padding: 10px;
}




